[submodule "themes/hugo-initio"]
	path = themes/hugo-initio
	url = https://github.com/miguelsimoni/hugo-initio.git
[submodule "themes/hugo-theme-copper"]
	path = themes/hugo-theme-copper
	url = https://github.com/tvonment/hugo-theme-copper
