<!-- Posts -->
{{ $data := .siteData }}
<section class="posts">
    {{ range .posts.Pages }}
    <article>
        {{ if .Params.image }}
        <a href="{{ .Permalink }}" class="image fit"><img src="{{ .Params.image | relURL }}" alt=""
                style="object-fit: cover; width: 100%; height: 15rem;" /></a>
        {{ end }}
        <header>
            <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        </header>
        <p style="text-align: right;">
            {{ $date := time .Params.the_date }}
            <span class="date">{{ $date.Format (.Site.Params.DateFormat | default "Monday 02.01.2006")
                }}</span>
            <br>
            <span style="font-weight: 800;">{{ .Params.time }}</span>
        </p>
        {{ if .Description }}
        <p>{{ .Description }}</p>
        {{ end }}
        <p style="font-style: italic;"><i class="icon fa-map-marker"></i> {{ .Params.location }}</p>
    </article>
    {{ end }}
</section>