<!-- Nav -->
{{ $data := index .Site.Data .Site.Language.Lang }}
{{ $currentPage := .Page }}
<nav id="nav" style="padding: 0;">
    <ul class="links">
        <li class="{{ if or (eq $currentPage.RelPermalink (`/`)) (eq $currentPage.RelPermalink (`/en/`))
            }}active{{end}}">

            <a href='{{ "/" | relLangURL }}'>{{
                .Site.Title }}</a>
        </li>
        {{- with $data.nav.items -}}
        {{- range $i, $e := . -}}
        <li class="{{ if eq ($currentPage.RelPermalink) (print .url `/`) }}active{{end}}"><a
                href='{{ .url | relLangURL }}'>{{- .title -}}</a></li>
        {{- end -}}
        {{- end -}}
        <li><a href='{{ "#news" | relLangURL }}'>{{ i18n "NEWS" . }}</a></li>
        <li><a href='{{ "#live" | relLangURL }}'>{{ i18n "GIGS" . }}</a></li>
        {{ with $data.contactinfo }}
        <li><a href='{{ "#footer" | relLangURL }}'>{{ i18n "NAV_CONTACT" . }}</a></li>
        {{ end }}
    </ul>
    {{ with $data.social }}
    <ul class="icons">
        {{ with .tree }}
        <li><a href="{{ . }}" class="icon fa-tree"><span class="label">Linktree</span></a></li>
        {{ end }}
        {{ with .apple }}
        <li><a href="{{ . }}" class="icon fa-apple"><span class="label">Apple Music</span></a></li>
        {{ end }}
        {{ with .spotify }}
        <li><a href="{{ . }}" class="icon fa-spotify"><span class="label">Spotify</span></a></li>
        {{ end }}
        {{ with .instagram }}
        <li><a href="{{ . }}" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
        {{ end }}
        {{ with .facebook }}
        <li><a href="{{ . }}" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
        {{ end }}
        {{ with .youtube }}
        <li><a href="{{ . }}" class="icon fa-youtube"><span class="label">Youtube</span></a></li>
        {{ end }}


    </ul>
    {{ end }}
    <ul class="links" style="flex-direction: row-reverse;">
        {{ if .IsTranslated }}
        {{ range .AllTranslations }}
        <li {{if eq ($.Site.Language) (.Language)}}class="active" {{end}}><a href='{{ .Permalink }}'>{{
                .Language.LanguageName }}</a></li>
        {{ end }}
        {{ end }}
    </ul>
</nav>