{{ partial "htmlhead" . }}

<body lang='{{ .Site.Language.Lang | default "de-ch" }}' class="is-preload">
	{{- $featured := slice (.Site.GetPage "/kisanii") }}

	{{- $today := time now -}}
	{{- $gigs := where .Data.Pages "Type" "gigs" }}
	{{- $news := where .Data.Pages "Type" "news" }}
	{{- if .IsHome }}
	{{- $gigs = where .Site.RegularPages "Type" "gigs" }}
	{{- $news = where .Site.RegularPages "Type" "news" }}
	{{- end }}
	{{- $news = sort $news "Params.priority" }}



	<!-- Wrapper -->
	<div id="wrapper" class="fade-in">

		{{- partial "header" . -}}
		{{- partial "nav" . }}

		<!-- Main -->
		<div id="main">
			<!-- Featured Post -->
			{{- partial "posts/featured.html" (dict "firstpost" $featured "siteData" (index .Site.Data
			.Site.Language.Lang)) }}
			<!-- End Featured Post -->

			<!-- Posts -->
			{{- $newsList := .Paginate $news 4 -}}
			{{- partial "news/list.html" (dict "news" $newsList "siteData" (index .Site.Data .Site.Language.Lang))
			}}
			{{- $paginator := .Paginator }}
			{{- $outer := . }}
			{{- partial "posts/pagination.html" (dict "paginator" $paginator "outer" $outer)}}
			<!-- End Posts -->
			<!-- Gigs -->
			{{ $gigsList := slice }}
			{{ range $gigs }}
			{{- $date := time .Params.the_date -}}
			{{- if $date.After $today -}}
			{{- $gigsList = $gigsList | append . -}}
			{{- end -}}
			{{- end -}}
			{{- $gigsList := sort $gigsList "Params.the_date" -}}

			{{- partial "gigs/list.html" (dict "gigs" $gigsList "siteData" (index .Site.Data
			.Site.Language.Lang))
			}}


			{{- $gigsList := slice -}}
			{{- range $gigs -}}
			{{- $date := time .Params.the_date -}}
			{{- if $date.Before $today -}}
			{{- $gigsList = $gigsList | append . -}}
			{{- end -}}
			{{- end -}}

			<section class="past-gigs">
				<h2>{{ i18n "PAST_GIGS" . }}</h2>
				{{ range $gigsList }}
				<article style="margin: 0;">
					{{ $date := time .Params.the_date }}
					<p style="margin: 0;">{{ .Title }} -
						<span class="date">{{ $date.Format (.Site.Params.DateFormat | default "January 2, 2006")
							}} - {{ .Params.location }}</span>
					</p>
				</article>
				{{ end }}
			</section>
			<!-- End Gigs -->
		</div>

		{{- partial "footer/index" . }}
		{{- partial "copyright" . }}

		<a href="#navPanel" id="navPanelToggle">{{ i18n "NAV_MENU" . }}</a>
	</div>

	{{- template "_internal/google_analytics.html" . }}
	{{- partial "scripts/index" . }}

</body>

</html>