{{ partial "htmlhead" . }}

<body lang='{{ .Site.Language.Lang | default "de-ch" }}' class="is-preload">
	{{- $featured := slice (.Site.GetPage "/kisanii") }}

	{{- $gigsFoldername := .Site.Params.Posts.foldername | default "gigs" }}

	{{- $today := time now -}}
	{{- $gigs := where .Data.Pages "Type" $gigsFoldername }}
	{{- if .IsHome }}
	{{- $gigs = where .Site.RegularPages "Type" $gigsFoldername }}
	{{- end }}

	<!-- Wrapper -->
	<div id="wrapper" class="fade-in">

		{{- partial "header" . -}}
		{{- partial "nav" . }}

		<!-- Main -->
		<div id="main">
			{{- partial "posts/featured.html" (dict "firstpost" $featured "siteData" (index .Site.Data
			.Site.Language.Lang)) }}

			{{ $gigsList := slice }}
			{{ range $gigs }}
			{{- $date := time .Params.the_date -}}
			{{- if $date.After $today -}}
			{{- $gigsList = $gigsList | append . -}}
			{{- end -}}
			{{- end -}}
			{{- $gigsList := sort $gigsList "Params.the_date" -}}
			{{- $gigsList := .Paginate $gigsList 1000 -}}

			{{- partial "posts/list.html" (dict "posts" $gigsList "siteData" (index .Site.Data .Site.Language.Lang))
			}}


			{{- $gigsList := slice -}}
			{{- range $gigs -}}
			{{- $date := time .Params.the_date -}}
			{{- if $date.Before $today -}}
			{{- $gigsList = $gigsList | append . -}}
			{{- end -}}
			{{- end -}}

			<section class="past-gigs" style="margin-left: 3rem;">
				<h2>{{ i18n "PAST_GIGS" . }}</h2>
				{{ range $gigsList }}
				<article>
					{{ $date := time .Params.the_date }}
					<p>{{ .Title }} -
						<span class="date">{{ $date.Format (.Site.Params.DateFormat | default "January 2, 2006")
							}} - {{ .Params.location }}</span>
					</p>
				</article>
				{{ end }}
			</section>
		</div>

		{{- partial "footer/index" . }}
		{{- partial "copyright" . }}

		<a href="#navPanel" id="navPanelToggle">{{ i18n "NAV_MENU" . }}</a>
	</div>

	{{- template "_internal/google_analytics.html" . }}
	{{- partial "scripts/index" . }}

</body>

</html>